a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

.container {
  width: 100%;
  padding: 0;
}

.content {
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 5px;
}

input[type=submit] {
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.container--header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  background-color: white;
}

.content--header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

[class^=icon-] {
  cursor: pointer;
  color: #53575a;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  color: #052c48;
  margin-right: 20px;
}
.title span {
  color: #1292ee;
  font-style: italic;
}

.content-menu-search {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.menu {
  margin-right: 15px;
}
.menu .lista {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.menu .lista__item--search {
  display: none;
}
.menu .lista__item--search input {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  width: 300px;
  color: #69748d;
}
.menu .lista__link {
  display: block;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 10px;
  color: #69748d;
}
.menu .lista__link:hover {
  color: rgb(107, 106, 106);
}
.menu .lista--view {
  max-height: 1000px;
}
.menu .icon-menu--hide {
  opacity: 0;
  transition: all 0.8s;
}

.search__busqueda {
  display: none;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 10;
  border: none;
}
.search--view {
  display: block;
}
.search .icon-search--hide {
  opacity: 0;
  transition: all 0.8s;
}

@media screen and (min-width: 1000px) {
  .content--header {
    display: flex;
    align-items: center;
  }
  .content-menu-search {
    flex-grow: 1;
    padding: 0;
  }
  .search {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu .icon-menu {
    display: none;
  }
  .menu .lista {
    position: static;
    max-height: 1000px;
    display: flex;
    align-items: center;
    background-color: white;
  }
  .menu .lista__item--search {
    display: block;
    margin-left: auto;
  }
  .menu .lista__link {
    padding: 5px 10px;
  }
}
.container--banner {
  position: relative;
  margin-top: 50px;
}

.slider {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
  position: relative;
}
.slider__imagenes {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.5s;
  max-height: 500px;
}
.slider__imagenes::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.7);
}
.slider__img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 2px gray inset;
}
.slider-nav:hover {
  background-color: #052c48;
}
.slider-nav--active {
  box-shadow: 2px 2px gray;
  background-color: #f5a927;
}

.content {
  max-width: 1000px;
  margin: auto;
}

.content--intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.content--intro .subtitle {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
.content--intro .subtitle .portafolio {
  font-weight: 800;
  font-size: 1.2em;
  color: #ffdb9e;
}
.content--intro .paragraph {
  font-size: 1em;
  color: #fff;
  max-width: 500px;
  letter-spacing: 0.8px;
}

.buttons {
  opacity: 0;
  transition: all 0.5s;
}
.buttons__enlace {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 130px;
  padding: 10px;
  font-size: 1em;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s;
  color: #1292ee;
}
.buttons__enlace:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 300px) {
  .buttons {
    opacity: 1;
  }
}
@media screen and (min-width: 350px) {
  .content--intro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 468px) {
  .content--intro .subtitle {
    font-size: 1.5em;
  }
  .content--intro .paragraph {
    font-size: 1.1em;
  }
}
.description {
  margin-top: 15px;
}
.description__subtitle {
  font-size: 1.5em;
  font-weight: 900;
  color: #2a3b47;
}
.description__paragraph {
  font-size: 1em;
  font-weight: normal;
  color: #747e81;
}

.lamina {
  padding: 10px 0;
  background-color: #e7f4fd;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.tarjeta {
  background-color: white;
  cursor: pointer;
}
.tarjeta__img {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.tarjeta__img .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tarjeta__text {
  padding: 10px;
  box-shadow: 0px 0px 3px #69748d;
}
.tarjeta__text .paragraph {
  color: #69748d;
}
.tarjeta__text .tecnologias__title {
  color: #052c48;
}
.tarjeta__text .tecnologias .lenguaje {
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 5px;
}
.tarjeta__text .tecnologias .lenguaje--html {
  color: orangered;
}
.tarjeta__text .tecnologias .lenguaje--php {
  color: darkslateblue;
}
.tarjeta__text .tecnologias .lenguaje--js {
  color: orange;
}
.tarjeta__text .tecnologias .lenguaje--css {
  color: steelblue;
}
.tarjeta__text .fecha {
  font-weight: bold;
  font-style: italic;
  color: #052c48;
}
.tarjeta__text .fecha .icon-calendar {
  margin-right: 10px;
}
.tarjeta__text .subtitle {
  color: #052c48;
  font-weight: bold;
}
.tarjeta:hover .tarjeta__img {
  transform: scale(1.04);
}

.java {
  color: #f4cd08;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.container--footer {
  box-shadow: 10px 0 5px -2px #888;
}

[class^=icon-] {
  margin-right: 10px;
}
[class^=icon-] a {
  margin-left: 5px;
}

.group-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-33 {
  width: 100%;
  padding: 10px 0;
  border-left: 1.2px solid #69748d;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  color: #69748d;
}
.column-33 .subtitle {
  color: #052c48;
  font-weight: 600;
  font-size: 1em;
}

.autor {
  text-align: center;
  font-weight: 600;
  color: #052c48;
}

@media screen and (min-width: 768px) {
  .column-33 {
    width: 30%;
  }
  .column-33:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=principal.css.map */